<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button [routerLink]="'/login'">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          formControlName="email"
          type="email"
          [class.invalid]="!resetPasswordForm.controls['email'].valid &&
          resetPasswordForm.controls['email'].touched"
        >
        </ion-input>
      </ion-item>
      <ion-item
        class="error-message"
        *ngIf="!resetPasswordForm.controls['email'].valid &&
        resetPasswordForm.controls['email'].touched"
      >
        <ion-label>Please enter a valid email.</ion-label>
      </ion-item>
  
      <ion-button
        expand="block"
        [disabled]="!resetPasswordForm.valid"
        type="submit"
        ion-button
      >
        Reset your Password
      </ion-button>
    </form>
  </ion-content>
