<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Cars
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="goToCarForm()">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let car of cars">
            <ion-item>
                <ion-avatar slot="start">
                  <img src="{{car.image}}">
                </ion-avatar>
                <ion-label>
                  <h2>{{car.model}}</h2>
                  <h3>{{car.brand}}</h3>
                  <p>Fuel compsumition: {{car.fuelConsumption}}</p>
                </ion-label>
              </ion-item>
          <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deleteCar(car)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                  <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>
